# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
djangoseed/db.sqlite3
djangoseed/db.sqlite3.bak
djangoseed/staticfiles/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env/
djangoseed/.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# IDEs
.vscode/
.idea/
# OS
.DS_Store
Thumbs.db
.repomixignore
