<div id="main-navbar" class="navbar fixed top-0 z-50 transition-all duration-300 bg-transparent border-b border-transparent">

  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-1 p-2 shadow bg-base-100 rounded-box w-52 text-base-content">
        <li><a href="{% url 'home' %}">Início</a></li>
        <li><a href="#sobre">Sobre nós</a></li>
        <li><a>Projetos</a></li>
        <li><a>Contato</a></li>
      </ul>
    </div>
  	<a href="{% url 'home' %}" class="hidden lg:flex text-white text-xl tracking-widest font-semibold uppercase transition hover:text-white/70">
      	<span class="ml-5 mr-2">Victor</span><span class="font-semibold">ARQ</span>
	</a>
  </div>

  <div class="navbar-center">
    <a href="{% url 'home' %}" class="lg:hidden text-white text-xl tracking-widest font-semibold uppercase transition hover:text-white/70">
        <span class="ml-5 mr-2">Victor</span><span class="font-semibold">ARQ</span>
    </a>
    <ul class="menu menu-horizontal px-1 gap-2 font-medium text-white text-base hidden lg:flex">
      <li><a href="{% url 'home' %}">Início</a></li>
      <li><a href="#sobre">Sobre nós</a></li>
      <li><a>Projetos</a></li>
	  <li><a>Contato</a></li>
</ul>
  </div>

  <div class="navbar-end gap-2">

  </div>
</div>

<script>
  window.addEventListener('scroll', function() {
    const navbar = document.getElementById('main-navbar');
    if (window.scrollY > 20) {
      navbar.classList.remove('bg-transparent', 'border-transparent');
      navbar.classList.add('bg-[#171717]', 'border-white/10');
    } else {
      navbar.classList.add('bg-transparent', 'border-transparent');
      navbar.classList.remove('bg-[#171717]', 'border-white/10');
    }
  });
</script>
