@import "tailwindcss";
@plugin "daisyui"{
	themes: light --default;
}
@layer components {
  .link-arq {
    @apply relative py-1 after:content-[''] after:absolute after:bottom-0 after:left-0
           after:w-0 after:h-[2px] after:bg-white after:transition-all
           after:duration-300 hover:after:w-full;
  }
}
